@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap")
@source "./*.html";
@source "./posts/*.html";

@theme {
  --font-literata: "Literata";
  --font-atkinson: "Atkinson Hyperlegible";
}

body {
    font-family: "Atkinson Hyperlegible";
}
