body {
        padding-top: 100px;
		background-color: #383c9e;
		color: white;
        vertical-align: middle;
}

h1 {
		text-align: center;
        font-family: "Roboto-Condensed", sans-serif;
}

p {
		font-family: 'Roboto-Condensed', sans-serif;
        text-align: center;
        padding-right: 100px;
        padding-left: 100px
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    border-color: white;
    display: block;
    margin: auto
}

.div-info {
    background-color: white;
    border-radius: 10px;
}

h2 {
    color: mediumpurple;
    text-align: center;
    padding-top: 20;
    margin-bottom: 10
}
.p-white {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    padding-bottom: 20;
    margin-top: 5
}
